<div class="row m-0 mt-3 justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center ">
                <h3 class="fw-bolder text-uppercase">retrait</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="withdrowF">
                    <div class="row m-0">
                        <div class="col-12 form-group text-center">
                            <label for="montant" class="small fw-bold">Montant</label>
                            <input type="number" name="montant" id="montant" class="form-control form-control-sm"
                                formControlName="montant">
                        </div>
                    </div>
                    <div class="row m-0 mt-3 justify-content-center">
                        <div class="col-3">
                            <button class="btn btn-success col-12" (click)="withdrow()">Retrait</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>