<div class="row m-0 mt-3 justify-content-end">
    <div class="col-1">
        <button class="btn btn-primary"
            [routerLink]="'/dashboard/withdrow/'+selectedAccount.accountNumber">Retrait</button>
    </div>
</div>
<div class="row m-0 mt-4 text-center g-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body fw-bold text-uppercase">
                Solde actuel : <span class="alert-sm p-2"
                    [ngClass]="{'alert-success': selectedAccount.balance > 0,'':true,'alert-danger': selectedAccount.balance < 0}">
                    {{selectedAccount.balance| currency}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Historique des derniers Opérations
            </div>
            <div class="card-body">
                <ul class="list-group list-group-light">
                    <li class="list-group-item text-start" *ngFor="let operation of selectedAccount.operations">
                        <div class="row m-0 justify-content-center">
                            <div class="col-2">
                                <div class="badge badge-light ">Date opération: {{operation.date}}</div>
                            </div>
                            <div class="col-1">
                                <div class="badge badge-light text-uppercase text-white small col-12"
                                    [ngClass]="{'bg-danger':operation.type=='Retrait' ,'bg-success':operation.type=='DEPOT'}">
                                    {{operation.type}}</div>
                            </div>
                            <div class="col-4 text-center text-uppercase small fw-bold">
                                {{operation.parQui}}
                            </div>
                            <div class="col-1">
                                <div class="badge badge-light col-12"
                                    [ngClass]="{'bg-danger':operation.type=='Retrait' ,'bg-success':operation.type=='DEPOT'}">
                                    {{operation.montant}}</div>
                            </div>
                            <div class="col-1">
                                <div class="badge badge-light col-12">
                                    {{operation.solde}}</div>
                            </div>

                        </div>

                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>