<div class="row m-0 mt-3 justify-content-center align-items-center">
    <div class="col-3" style="height: 250px;" *ngFor="let account of connecteduser.accounts">
        <a class="card h-100 g-0" [routerLink]='"account/"+account.accountNumber'>
            <div class="card-header " [ngClass]="{'bg-success':account.balance > 0,'bg-danger':account.balance < 0}"></div>
            <div class="card-body text-center text-white bg-dark">
                <h4>{{account.accountNumber}}</h4>
                <div class="row m-0">
                    <div class="col-12">
                        Account balance : <span class="badge"
                            [ngClass]="{'badge-success':account.balance > 0,'badge-danger':account.balance < 0}">{{account.balance
                            | currency}}</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>